In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
plt.style.use("ggplot")

In [2]:
df = pd.read_csv("all_33_date.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834552 entries, 0 to 834551
Data columns (total 12 columns):
business_id    834552 non-null object
user_id        834552 non-null object
name           834551 non-null object
categories     834551 non-null object
avg_stars      834551 non-null float64
cool           834551 non-null float64
date           834551 non-null object
funny          834551 non-null float64
review_id      834551 non-null object
stars          834551 non-null float64
text           834550 non-null object
useful         834550 non-null float64
dtypes: float64(5), object(7)
memory usage: 76.4+ MB

In [3]:
df['date'] = pd.to_datetime(df['date'])

In [4]:
df.head()

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
0,LkMtMHVetws5_7QfRjPtlg,Ud72j_rglYmXrL_O8zCdoA,LVH - Las Vegas Hotel & Casino,"Restaurants, Casinos, Food, Active Life, Night...",2.5,0.0,2005-01-24 22:21:29,0.0,Dm7Jh7tVp_97sOxEYH4DnA,4.0,"This is a little bit off the strip, but the vi...",0.0
1,ii8sAGBexBOJoYRFafF9XQ,Ud72j_rglYmXrL_O8zCdoA,Paris Las Vegas Hotel & Casino,"Restaurants, Hotels, Hotels & Travel, Event Pl...",3.0,0.0,2005-01-24 22:32:33,0.0,VwlljS4oxU4VyP2ODo9gwA,5.0,The buffet in this hotel is excellent! The set...,0.0
2,ZkGDCVKSdf8m76cnnalL-A,Ud72j_rglYmXrL_O8zCdoA,Le Village Buffet,"Sandwiches, French, Breakfast & Brunch, Buffet...",3.0,0.0,2005-01-26 17:50:53,0.0,Z54-ssb69Mx_lG1YtJ6N1g,5.0,Hella food there!! Cocktail shrimps are great!...,0.0
3,Wxxvi3LZbHNIDwJ-ZimtnA,NkVYcoaThHjOfTTgq6OdHQ,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,1.0,2005-04-22 20:07:39,2.0,0NmMH1xSUdI3pqed9WQQww,5.0,outstanding hotel. we had a really amazing sui...,2.0
4,6xgcHeLad-VaoTIQewK84A,G5LXEaxhQMF_BVjNHkVr7g,N9NE Steakhouse,"Seafood, Steakhouses, American (Traditional), ...",4.0,0.0,2005-04-27 23:38:05,0.0,VgBxQqaDgOHq9YRxtMUm3A,5.0,A very reliable source tells me this is the be...,0.0

In [5]:
df[pd.isnull(df).any(axis=1)]

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
284417,uWECX6-Uq9n8v5ipk9R29A,aZs_IrhA7rvuLBumVhJjCw,Lola's A Louisana Kitchen,"Breakfast & Brunch, Restaurants, Cajun/Creole",4.0,1.0,2014-06-10 22:31:23,0.0,lyNSICzFzDPHXL_E6PHvWw,5.0,Best Creole/Cajun food in Nevada! Order the B...,NaN
284418,All the goodness of the deep South! Seasoned a...,1,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
338164,oXoVJ0xKv82cBo9U6oEjlQ,v3DIq18Z30KNwyUvBXtXEA,Chayo Mexican Kitchen + Tequila Bar,"Nightlife, Breakfast & Brunch, Restaurants, Me...",3.5,0.0,2014-12-26 08:32:06,0.0,iHdxK8lwkYn0rlNh-REuGQ,3.0,NaN,0.0

In [6]:
df.loc[338164, 'text'] = df.loc[284418, 'business_id']

In [7]:
df.loc[284417, 'useful'] = df.loc[284418, 'user_id']

In [8]:
df[pd.isnull(df).any(axis=1)]

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
284418,All the goodness of the deep South! Seasoned a...,1,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.dropna()

In [13]:
df.tail()

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
834546,QXV3L_QFGj8r6nWX2kS2hA,JypjCVmufxpXO2tymVpeCw,Nacho Daddy,"Restaurants, Mexican, Tex-Mex, Vegan, American...",4.5,0.0,2018-11-14 17:45:29,0.0,8FMAIwrS7Tg_KsRi49kGWw,5.0,Wow this place is so cheap! It's RIGHT on the ...,0
834547,lKq4Qsz13FDcAVgp49uukQ,JypjCVmufxpXO2tymVpeCw,Slice of Vegas,"Restaurants, Food, Pizza, Beer, Wine & Spirits...",4.0,0.0,2018-11-14 17:48:08,0.0,1dqLYLhUf_ZNt_5ohGLdkg,5.0,Wow I don't know if I was super hungry or this...,0
834548,Cl-xl1vTUwHeaGgBxzdTRA,6SJLd_2v0Qo883k7qOEtXA,Chow Mein House,"Restaurants, Chinese",4.0,0.0,2018-11-14 17:49:30,0.0,rl50o1Tc9dTM6kl4HBvs9Q,5.0,One of the best and most authentic chinese foo...,0
834549,n2kgJSiB7Q4u7AkDvYfzlg,nV_Eyhzh0qV7BgBlpCBEHA,Munch Box,"Restaurants, Salad, American (New), Breakfast ...",4.5,0.0,2018-11-14 17:52:16,0.0,4_VO4uUFfHCmiWWiHOYHog,5.0,This place is always my favorite for breakfast...,0
834550,JDZ6_yycNQFTpUZzLIKHUg,keBv05MsMFBd0Hu98vXThQ,El Dorado Cantina,"Mexican, Lounges, Restaurants, Nightlife, Bars",4.5,1.0,2018-11-14 18:05:34,1.0,J9BSbdsUaBERmBhdtXZvFw,5.0,What a great Mexican restaurant located on Sam...,1

In [11]:
df = df.reset_index(drop=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 834551 entries, 0 to 834550
Data columns (total 12 columns):
business_id    834551 non-null object
user_id        834551 non-null object
name           834551 non-null object
categories     834551 non-null object
avg_stars      834551 non-null float64
cool           834551 non-null float64
date           834551 non-null datetime64[ns]
funny          834551 non-null float64
review_id      834551 non-null object
stars          834551 non-null float64
text           834551 non-null object
useful         834551 non-null object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 76.4+ MB

In [15]:
len(df.business_id.unique())

6199

In [16]:
len(df.user_id.unique())

104156

In [29]:
df.groupby('user_id').agg('count').name.describe()

count    104156.00000
mean          8.01251
std          15.50373
min           3.00000
25%           3.00000
50%           4.00000
75%           8.00000
max        1379.00000
Name: name, dtype: float64

In [16]:
df.groupby('business_id').agg('count').min()

user_id       3
name          3
categories    3
avg_stars     3
cool          3
date          3
funny         3
review_id     3
stars         3
text          3
useful        3
dtype: int64

In [17]:
#### ensure all item&user at least one in trainset
train_item_list = df.sort_values('date', ascending=True).drop_duplicates('business_id', keep='first').index
train_user_list = df.sort_values('date', ascending=True).drop_duplicates('user_id', keep='first').index
index_train_0 = list(set(list(train_item_list) + list(train_user_list)))
len(index_train_0)

109570

In [18]:
df_drop_train = df.drop(index_train_0)

In [19]:
df_drop_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 724981 entries, 6 to 834550
Data columns (total 12 columns):
business_id    724981 non-null object
user_id        724981 non-null object
name           724981 non-null object
categories     724981 non-null object
avg_stars      724981 non-null float64
cool           724981 non-null float64
date           724981 non-null datetime64[ns]
funny          724981 non-null float64
review_id      724981 non-null object
stars          724981 non-null float64
text           724981 non-null object
useful         724981 non-null object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 71.9+ MB

In [20]:
df_drop_train.index

Int64Index([     6,     23,     27,     28,     36,     46,     48,     49,
                54,     55,
            ...
            834541, 834542, 834543, 834544, 834545, 834546, 834547, 834548,
            834549, 834550],
           dtype='int64', length=724981)

In [21]:
df_drop_train.head()

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
6,Wxxvi3LZbHNIDwJ-ZimtnA,G5LXEaxhQMF_BVjNHkVr7g,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,5.0,2005-04-27 23:44:33,2.0,xKf_Y6PmebgJtFLULpYCzA,5.0,"Fantastic hotel, I've had the luxury of only s...",2
23,Wxxvi3LZbHNIDwJ-ZimtnA,VQ-RXIZCH-7eRG8jSMmr9w,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,0.0,2005-07-21 06:35:29,0.0,8iQFJQ_RcDgvOWA0iLBHKg,4.0,i love staying at this all-suite hotel. i thin...,0
27,Wxxvi3LZbHNIDwJ-ZimtnA,B0QGBVCUm54vs_waVzcScA,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,1.0,2005-07-22 05:26:19,1.0,rNxLcofLsxiEabVOPVXHqg,5.0,Really pretty casino and nice place to hang ou...,1
28,ii8sAGBexBOJoYRFafF9XQ,B0QGBVCUm54vs_waVzcScA,Paris Las Vegas Hotel & Casino,"Restaurants, Hotels, Hotels & Travel, Event Pl...",3.0,0.0,2005-07-22 05:33:10,0.0,Z5j0S0l3-EiBj-qSGvw78w,4.0,Great ambience! I especially like that they h...,0
36,Kn23LDd740SBVJ7mum0fwg,gZ-CewXerXlytUGV-4nFRA,V Bar,"Restaurants, Bars, Lounges, Nightlife, America...",3.5,0.0,2005-08-28 19:57:29,0.0,fp63hJ2hbNXAO79zh-POlw,4.0,Located in the Restaurant Row section of The V...,0

In [22]:
df_drop_train.groupby('user_id').agg('count').min()

business_id    1
name           1
categories     1
avg_stars      1
cool           1
date           1
funny          1
review_id      1
stars          1
text           1
useful         1
dtype: int64

In [23]:
df_drop_train.groupby('business_id').agg('count').min()

user_id       1
name          1
categories    1
avg_stars     1
cool          1
date          1
funny         1
review_id     1
stars         1
text          1
useful        1
dtype: int64

In [24]:
#### ensure all item&user at least one in testset
test_item_list = df_drop_train.sort_values('date', ascending=True).drop_duplicates('business_id', keep='last').index
test_user_list = df_drop_train.sort_values('date', ascending=True).drop_duplicates('user_id', keep='last').index
index_test_0 = list(set(list(test_item_list) + list(test_user_list)))
len(index_test_0)

107919

In [25]:
s1 = pd.Index(index_train_0)
len(s1)

s2 = pd.Index(index_test_0)
len(s2)

s1.intersection(s2)

Int64Index([], dtype='int64')

In [26]:
index_diff = list(set(df.index) - set(index_train_0) - set(index_test_0))
len(index_diff)

617062

In [27]:
df_drop_train_test = df_drop_train.drop(index_test_0)

In [28]:
df_drop_train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 617062 entries, 6 to 834449
Data columns (total 12 columns):
business_id    617062 non-null object
user_id        617062 non-null object
name           617062 non-null object
categories     617062 non-null object
avg_stars      617062 non-null float64
cool           617062 non-null float64
date           617062 non-null datetime64[ns]
funny          617062 non-null float64
review_id      617062 non-null object
stars          617062 non-null float64
text           617062 non-null object
useful         617062 non-null object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 61.2+ MB

In [29]:
df_drop_train_test.head()

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
6,Wxxvi3LZbHNIDwJ-ZimtnA,G5LXEaxhQMF_BVjNHkVr7g,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,5.0,2005-04-27 23:44:33,2.0,xKf_Y6PmebgJtFLULpYCzA,5.0,"Fantastic hotel, I've had the luxury of only s...",2
23,Wxxvi3LZbHNIDwJ-ZimtnA,VQ-RXIZCH-7eRG8jSMmr9w,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,0.0,2005-07-21 06:35:29,0.0,8iQFJQ_RcDgvOWA0iLBHKg,4.0,i love staying at this all-suite hotel. i thin...,0
27,Wxxvi3LZbHNIDwJ-ZimtnA,B0QGBVCUm54vs_waVzcScA,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,1.0,2005-07-22 05:26:19,1.0,rNxLcofLsxiEabVOPVXHqg,5.0,Really pretty casino and nice place to hang ou...,1
46,LtXy1VinKWfuLFslVarKRw,X4KP6ZK0ST-jF46KpAhxzg,Fatburger,"Restaurants, American (Traditional), Burgers, ...",3.5,0.0,2005-10-07 07:51:39,1.0,vKvYGMTtyJXLkP7V081tLw,4.0,If this Fatburger weren't so inconviently plac...,0
49,d4qwVw4PcN-_2mK2o1Ro1g,gjhzKWsqCIrpEd9pevbKZw,Pink Taco,"Mexican, Restaurants",3.5,0.0,2005-10-11 23:51:11,0.0,R8avQ9D_qcx-Rr5w-zNm2w,3.0,The queso bean dip here is divine!,0

In [30]:
df_drop_train_test.groupby('user_id').agg('count').min()

business_id    1
name           1
categories     1
avg_stars      1
cool           1
date           1
funny          1
review_id      1
stars          1
text           1
useful         1
dtype: int64

In [31]:
df_drop_train_test.groupby('business_id').agg('count').min()

user_id       1
name          1
categories    1
avg_stars     1
cool          1
date          1
funny         1
review_id     1
stars         1
text          1
useful        1
dtype: int64

In [32]:
#### ensure all item&user at least one in testset
train_item_list_1 = df_drop_train_test.sort_values('date', ascending=True).drop_duplicates('business_id', keep='first').index
train_user_list_1 = df_drop_train_test.sort_values('date', ascending=True).drop_duplicates('user_id', keep='first').index
index_train_1 = list(set(list(train_item_list_1) + list(train_user_list_1)))
len(index_train_1)

108826

In [33]:
s1 = pd.Index(index_test_0)
len(s1)

s2 = pd.Index(index_train_1)
len(s2)

s1.intersection(s2)

Int64Index([], dtype='int64')

In [34]:
df_drop_2train_test = df_drop_train_test.drop(index_train_1)

In [35]:
df_drop_2train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 508236 entries, 103 to 834342
Data columns (total 12 columns):
business_id    508236 non-null object
user_id        508236 non-null object
name           508236 non-null object
categories     508236 non-null object
avg_stars      508236 non-null float64
cool           508236 non-null float64
date           508236 non-null datetime64[ns]
funny          508236 non-null float64
review_id      508236 non-null object
stars          508236 non-null float64
text           508236 non-null object
useful         508236 non-null object
dtypes: datetime64[ns](1), float64(4), object(7)
memory usage: 50.4+ MB

In [36]:
df_drop_2train_test.head()

,business_id,user_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,useful
103,KskYqH1Bi7Z_61pH6Om8pg,gjhzKWsqCIrpEd9pevbKZw,Lotus of Siam,"Car Dealers, Nightlife, Automotive, Buffets, W...",4.0,5.0,2005-12-02 16:35:38,0.0,lQxRLaH5ZylowPOgjkynxg,4.0,The Commercial Center Mall is not the most obv...,8
137,Wxxvi3LZbHNIDwJ-ZimtnA,Ui0A8-hrpEPuEUG8EGBNaw,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,1.0,2006-01-07 21:05:34,1.0,W6M4ZWBkRZWlXBmGO676GQ,5.0,This place is gorgeous. I wish I got to stay h...,0
143,Wxxvi3LZbHNIDwJ-ZimtnA,06xIElWq6CAvmtk1xHJWNA,The Venetian Las Vegas,"Shopping Centers, Resorts, Arts & Entertainmen...",4.0,1.0,2006-01-09 05:16:49,0.0,856d_pvrJZ2PjHaLkOZkDw,5.0,"The best bars, the best clubs (overall), the b...",2
145,eAc9Vd6loOgRQolMXQt6FA,06xIElWq6CAvmtk1xHJWNA,Mandalay Bay Resort & Casino,"Resorts, Arts & Entertainment, Restaurants, Ho...",3.0,0.0,2006-01-09 05:24:40,0.0,ruOC8a3hk--u6Ekdaeh_3Q,4.0,This is a Las Vegas strip powehouse. It offers...,1
147,AV6weBrZFFBfRGCbcRGO4g,06xIElWq6CAvmtk1xHJWNA,Luxor Hotel and Casino Las Vegas,"Nightlife, Casinos, Restaurants, Resorts, Arts...",2.5,0.0,2006-01-09 05:29:17,1.0,DgX1RSmOcw3CVZnHJapZ3g,2.0,This place was the ULTIMATE casino in the 90's...,0

In [37]:
rest = list(df_drop_2train_test.index)
index_train_2 = rest[:449250]
index_test_1 = rest[449250:]

In [38]:
index_train = index_train_0 + index_train_1 + index_train_2
len(index_train)

667646

In [39]:
index_test = index_test_0 + index_test_1
len(index_test)

166905

In [40]:
s1 = pd.Index(index_train)
len(s1)

s2 = pd.Index(index_test)
len(s2)

s1.intersection(s2)

Int64Index([], dtype='int64')

In [41]:
df_train = df.iloc[index_train]

In [42]:
df_test = df.iloc[index_test]

In [42]:
df_train.to_csv("train_33_all.csv", encoding='utf-8', index = False)
df_test.to_csv("test_33_all.csv", encoding='utf-8', index = False)

In [43]:
df_train_selected = df_train[['user_id','business_id','stars']]
df_test_selected = df_test[['user_id','business_id','stars']]

In [44]:
df_train_selected.to_csv("train_33_selected.csv", encoding='utf-8', index = False)
df_test_selected.to_csv("test_33_selected.csv", encoding='utf-8', index = False)

### surprise

In [45]:
df_0 = pd.read_csv("test_33_selected.csv")
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166905 entries, 0 to 166904
Data columns (total 3 columns):
user_id        166905 non-null object
business_id    166905 non-null object
stars          166905 non-null float64
dtypes: float64(1), object(2)
memory usage: 3.8+ MB

In [286]:
from surprise import BaselineOnly
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate
from surprise import accuracy
from surprise.model_selection import PredefinedKFold

In [287]:
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(df_0, reader)
type(data)

surprise.dataset.DatasetAutoFolds

In [17]:
#### Baseline

In [289]:
from surprise import NormalPredictor
algo = NormalPredictor()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=2, verbose=True)

Evaluating RMSE, MAE of algorithm NormalPredictor on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     1.3513  1.3722  1.3609  1.3688  1.3649  1.3637  0.0072
RMSE (testset)    1.7265  1.7457  1.7310  1.7413  1.7399  1.7369  0.0071
Fit time          0.25    0.30    0.32    0.35    0.38    0.32    0.04
Test time         0.76    0.70    0.36    0.41    0.51    0.55    0.16

{'fit_time': (0.2459421157836914,
  0.30449914932250977,
  0.32028698921203613,
  0.3509409427642822,
  0.3768730163574219),
 'test_mae': array([1.35131415, 1.37223621, 1.36094717, 1.36883717, 1.36492493]),
 'test_rmse': array([1.72650431, 1.7456892 , 1.73097446, 1.7412648 , 1.73992604]),
 'test_time': (0.7613859176635742,
  0.7025439739227295,
  0.364116907119751,
  0.4056689739227295,
  0.508216142654419)}

In [290]:
from surprise import BaselineOnly
algo = BaselineOnly()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Evaluating RMSE, MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.9973  1.0049  1.0007  1.0009  1.0027  1.0013  0.0025
RMSE (testset)    1.2403  1.2530  1.2447  1.2412  1.2489  1.2456  0.0048
Fit time          0.81    0.89    1.10    1.04    0.95    0.96    0.11
Test time         0.52    0.46    0.37    0.61    0.46    0.49    0.08

{'fit_time': (0.8092749118804932,
  0.886289119720459,
  1.1004929542541504,
  1.04469895362854,
  0.9508371353149414),
 'test_mae': array([0.99733552, 1.00491169, 1.0006573 , 1.00086546, 1.00271722]),
 'test_rmse': array([1.2402998 , 1.25298037, 1.24473097, 1.24118525, 1.2489353 ]),
 'test_time': (0.5235171318054199,
  0.46219897270202637,
  0.3716309070587158,
  0.6064181327819824,
  0.4645979404449463)}

In [ ]:
from surprise import KNNBasic
algo = KNNBasic()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [ ]:
from surprise import KNNWithMeans
algo = KNNWithMeans()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

#### svd

In [6]:
from surprise import SVD
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE, FCP of algorithm SVD on 4 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Mean    Std
MAE (testset)     1.2369  1.2403  1.2380  nan     nan     nan
RMSE (testset)    1.8548  1.8599  1.8561  nan     nan     nan
FCP (testset)     0.0000  0.0000  0.0000  0.5668  0.1417  0.2454
Fit time          84.12   82.91   80.67   79.62   81.83   1.78
Test time         3.25    2.85    2.73    2.73    2.89    0.21

{'fit_time': (84.11752009391785,
  82.90522289276123,
  80.66904616355896,
  79.61518406867981),
 'test_fcp': array([0.        , 0.        , 0.        , 0.56678569]),
 'test_mae': array([1.23690445, 1.24034531, 1.23801814,        nan]),
 'test_rmse': array([1.8547642 , 1.85994496, 1.85609652,        nan]),
 'test_time': (3.248000144958496,
  2.8501710891723633,
  2.731351137161255,
  2.7292678356170654)}

In [8]:
# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.8597  1.8583  1.8567  1.8526  nan     nan     nan
MAE (testset)     1.2394  1.2410  1.2367  1.2349  nan     nan     nan
Fit time          85.48   88.79   87.69   98.10   98.05   91.62   5.38
Test time         2.84    2.36    2.46    2.79    2.83    2.66    0.20

{'fit_time': (85.48224711418152,
  88.78542995452881,
  87.69028496742249,
  98.101322889328,
  98.05008506774902),
 'test_mae': array([1.23943543, 1.24101665, 1.23674872, 1.23494621,        nan]),
 'test_rmse': array([1.85972487, 1.85834948, 1.8567352 , 1.85256129,        nan]),
 'test_time': (2.8447320461273193,
  2.3619730472564697,
  2.4638071060180664,
  2.787769079208374,
  2.8280398845672607)}

In [13]:
# Use the famous SVD algorithm.
algo = SVD()

# Run 5-fold cross-validation and print results.
cross_validate(algo, data1, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9668  0.9467  0.9546  0.9612  0.9591  0.9577  0.0067
MAE (testset)     0.7497  0.7364  0.7420  0.7479  0.7476  0.7447  0.0049
Fit time          4.47    4.54    4.74    4.69    4.71    4.63    0.11
Test time         0.19    0.10    0.16    0.10    0.10    0.13    0.04

{'fit_time': (4.467535972595215,
  4.53680682182312,
  4.743390798568726,
  4.688354969024658,
  4.7076568603515625),
 'test_mae': array([0.74974396, 0.73644823, 0.74204827, 0.74786507, 0.74761863]),
 'test_rmse': array([0.96683449, 0.94673264, 0.95457803, 0.96119582, 0.95905699]),
 'test_time': (0.18998003005981445,
  0.09556198120117188,
  0.15878701210021973,
  0.1035919189453125,
  0.09794211387634277)}

#### svdpp

In [9]:
from surprise import SVDpp

In [12]:
algo = SVDpp()

cross_validate(algo, data1, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9637  0.9553  0.9523  0.9514  0.9644  0.9574  0.0056
MAE (testset)     0.7461  0.7397  0.7428  0.7373  0.7477  0.7427  0.0039
Fit time          192.06  210.21  232.75  226.64  258.05  223.94  22.15
Test time         3.70    4.22    4.13    4.42    4.19    4.13    0.24

{'fit_time': (192.06381011009216,
  210.21146988868713,
  232.74883008003235,
  226.63960886001587,
  258.04798889160156),
 'test_mae': array([0.74610066, 0.73973905, 0.74282021, 0.73727299, 0.74774642]),
 'test_rmse': array([0.96371572, 0.95533303, 0.95227253, 0.95139222, 0.96436959]),
 'test_time': (3.6962151527404785,
  4.217535018920898,
  4.1251490116119385,
  4.417120933532715,
  4.190087080001831)}

#### NMF

In [15]:
from surprise import NMF
algo = NMF()
cross_validate(algo, data1, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0133  1.0253  1.0193  1.0270  1.0115  1.0193  0.0062
MAE (testset)     0.7814  0.7923  0.7862  0.7929  0.7829  0.7871  0.0047
Fit time          5.06    5.06    5.13    5.05    5.15    5.09    0.04
Test time         0.17    0.08    0.09    0.15    0.09    0.11    0.04

{'fit_time': (5.060730934143066,
  5.058679103851318,
  5.128618955612183,
  5.0528199672698975,
  5.1465020179748535),
 'test_mae': array([0.78135622, 0.79228694, 0.78620747, 0.79286707, 0.78288357]),
 'test_rmse': array([1.0133442 , 1.02533068, 1.01926691, 1.02695972, 1.01148335]),
 'test_time': (0.1694188117980957,
  0.07909297943115234,
  0.08504891395568848,
  0.14684510231018066,
  0.08634591102600098)}

#### PMF

In [16]:
algo = SVD(biased=False)

# Run 5-fold cross-validation and print results.
cross_validate(algo, data1, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    1.0670  1.0511  1.0684  1.0672  1.0699  1.0647  0.0069
MAE (testset)     0.8354  0.8252  0.8409  0.8376  0.8399  0.8358  0.0056
Fit time          4.37    4.52    4.45    4.43    4.41    4.44    0.05
Test time         0.09    0.14    0.08    0.09    0.14    0.11    0.03

{'fit_time': (4.372043132781982,
  4.517865896224976,
  4.451305150985718,
  4.425579071044922,
  4.413444995880127),
 'test_mae': array([0.83541058, 0.82518195, 0.84092842, 0.83756312, 0.83992938]),
 'test_rmse': array([1.06704272, 1.0511049 , 1.06836192, 1.06722324, 1.06988844]),
 'test_time': (0.08597993850708008,
  0.13824987411499023,
  0.08483195304870605,
  0.08743715286254883,
  0.13897490501403809)}